[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
pandas = "*"
requests = "*"
librosa = "*"
numpy = "*"
soundfile = "*"
scikit-learn = "*"
torch = "*"
evaluate = "*"
tqdm = "*"
matplotlib = "*"
silero-vad = "*"
ipykernel = "*"
ffmpeg = "*"
jiwer = "*"
datasets = {extras = ["audio"], version = "*"}
torchcodec = "*"
accelerate = ">=0.26.0"
tensorboard = "*"

[dev-packages]

[requires]
python_version = "3.12"
